{
  "parameters":

    "test-text": {
        "type": "string",
        "description": "a test to validate strings"
    },

    // index

    "index.kmer-size": {
        "type": "integer",
        "description": "k-mer (odd) length (default: 31, max value: 31)"
    },
    "index.make-unique": {
        "type": "boolean",
        "description": "Replace repeated target names with unique names"
    }
    "index.files": {
        "type": "files",
        "description": "FASTA files",
        "required": true
    },


    // quant

    "quant.index": {
        "type": "file",
        "description": "Filename for the kallisto index to be used for quantification"
    },
    "quant.files": {
        "type": "files",
        "description": "FASTQ files",
        "required": true
    },
    "quant.bias": {
        "type": "boolean",
        "description": "Perform sequence based bias correction"
    },
    "quant.bootstrap-samples": {
        "type": "integer",
        "description": "Number of bootstrap samples (default: 0)"
    },
    "quant.seed": {
        "type": "integer",
        "description": "Seed for the bootstrap sampling (default: 42)"
    },
    "quant.single": {
        "type": "boolean",
        "description": "Quantify single-end reads"
    },
    "quant.fragment-length": {
        "type": "double",
        "description": "Estimated average fragment length"
    },
    "quant.standard-deviation": {
        "type": "double",
        "description": "Estimated standard deviation of fragment length (default: value is estimated from the input data)"
    },
    "quant.threads": {
        "type": "integer",
        "description": "Number of threads to use (default: 1)"
    },
    "quant.pseudobam": {
        "type": "boolean",
        "description": "Output pseudoalignments in SAM format to stdout"
    }
}