// General configuration used in all profiles

docker {
	enabled = true
	runOptions = "-v /Users/jamescauwelier/Code/InSilicoDB/kallisto-pipeline/data/:/data"
}

// Profiles configure nextflow depending on the environment (local, integration, live, etc.)

profiles {

// "local" is the configuration for developing on the local machines

	local {

		timeline {
			enabled = true
			file = '/Users/jamescauwelier/Code/InSilicoDB/kallisto-pipeline/data/timeline.html'
		}

	}
}